name: Publish Package

on:
  pull_request:
    types:
      - opened
      - synchronize
    paths-ignore:
      - "**.md"
      - "adr/**"
      - "docs/**"
      - "CODEOWNERS"
  release:
    types: [ "published" ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Login to Registry1
      uses: docker/login-action@v3
      with:
        registry: registry1.dso.mil
        username: ${{ secrets.IRON_BANK_ROBOT_USERNAME }}
        password: ${{ secrets.IRON_BANK_ROBOT_PASSWORD }}
    - name: Install Zarf
      uses: defenseunicorns/setup-zarf@v1.0.1
      with:
        version: v0.41.0
    - name: Build Package
      run: make create-zarf-package
    - name: Publish Package
      if: ${{ github.event_name == 'release' && github.event.action == 'published' }}
      run: make publish-zarf-package
